# --- 操作系统相关 ---
.DS_Store
Thumbs.db
*.swp
desktop.ini

# --- 编程语言产物 ---
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
# dist/
*.egg-info/

# Node.js / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
.next/
.nuxt/

# --- 环境与敏感信息 ---
.env
.env.local
.env.*.local
*.pem
*.key
auth.json

# --- 编辑器与 IDE ---
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IntelliJ / PyCharm / WebStorm
.idea/
*.iws
*.iml
*.ipr

# --- 日志与临时文件 ---
logs/
*.log
tmp/
temp/